@model MvcStock.Models.Entity.TBLSALES
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Sell
</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Selling Screen</h2>
            </div>
            <form method="post" action="/Sale/NewSale">
                <div class="modal-body">
                    <label>
                        Product Name
                    </label>
                    @Html.TextBoxFor(m => m.Product, new { @class = "form-control" })
                    <br />
                    <label>
                        Customer Name Surname
                    </label>
                    @Html.TextBoxFor(m => m.Customer, new { @class = "form-control" })
                    <br />
                    <label>
                        Quantity
                    </label>
                    @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control" })
                    <br />
                    <label>
                        Price
                    </label>
                    @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
                    <br />
                    <button type="submit" class="btn btn-info">Sell</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Give Up</button>

                </div>
            </form>
        </div>
    </div>
</div>

