@model MvcStock.Models.Entity.TBLCATEGORIES
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Product Name</label>
        <input type="text" class="form-control" name="ProductName" />
    </div>
    <div>
        <label>Select Category</label>
        @Html.DropDownListFor(m=>m.CategoryName,(List<SelectListItem>)ViewBag.val,new { @class="form-control"})
    </div>
    <div>
        <label>Price</label>
        <input type="text" class="form-control" name="Price" />
    </div>
    <div>
        <label>Brand</label>
        <input type="text" class="form-control" name="Brand" />
    </div>
    <div>
        <label>Stock Qty</label>
        <input type="text" class="form-control" name="Stock" />
    </div>
    <div>
        <button style="margin-top:15px" class="btn btn-info">Add Product</button>
    </div>

</form>

