@model MvcStock.Models.Entity.TBLCUSTOMERS
@{
    ViewBag.Title = "NewCustomer";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Customer Name</label>
        @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CustomerName, "", new { @style = "color:red" })
    </div>
    <div>
        <label>Customer Surname</label>
        <input type="text" class="form-control" name="CustomerSurname" />
    </div>
    <div>
        <button style="margin-top:15px" class="btn btn-info">Add Customer</button>
    </div>

</form>

